/* Global Styles */
body {
    font-family: Arial, Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #e5e5e5;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    display: flex;
    flex-direction: column; /* Make the body a flex container with column direction */
}

/* Header Styles */
header {
    background-color: #333;
    padding: 1em;
    margin-top: 0;
    text-align: center;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
}

nav li {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

/* Main Content Styles */
main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    flex: 1; /* Allow main to grow and fill the available space */
}

section {
    background-color: #444;
    padding: 2em;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    grid-column: 1;
    border-radius: 0px;
    font-size: 12pt;
}

/* Text and Links Styles */
h1, h2, nav a {
    color: #e6457a;
    text-decoration: none;
}

h2:hover {
    color: #ff69b4;
}

nav a:hover {
    color: #ff69b4;
}

/* Footer Styles */
footer {
    background-color: #333;
    padding: 1em;
    text-align: center;
    color: #e6457a;
    margin-top: auto; /* Push the footer to the bottom of the page content */
}

/* Button Styles */
.button {
    background-color: #e6457a;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #ff69b4;
}

/* Image Container Styles */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

/* Text Styles */
.text {
    line-height: 1.5;
    font-size: 14pt;
    text-align: justify;
    margin-bottom: 40px;
}

/* Polaroid-Style Image Layout */
.image-container figure {
    margin: 5px;
    padding: 5px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: calc(50% - 20px);
}

.image-container figure img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
}

figcaption {
    font-size: 0.9em;
    color: #e5e5e5;
    padding: 5px;
    text-align: left;
}

/* Media query for desktop */
@media only screen and (min-width: 768px) {
    .image-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .image-container figure {
        width: calc(50% - 20px);
    }
}

/* Image Beside Text Layout */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
}

.responsive-image {
    max-width: 40%;
    height: auto;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-container {
    flex: 1;
}

.intro {
    line-height: 1.5;
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 60px;
    color: #e5e5e5;
    text-align: justify;
}

h2 {
    margin-top: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-left: 0;
    }
    .responsive-image {
        max-width: 80%;
        margin: 0 auto;
    }
    .text-container {
        margin: 20px;
    }
    .intro {
        padding-right: 20px;
    }
}

/* Welcome and Button Container Styles */
.welcome {
    padding: 20px;
}

.button-container {
    display: flex;
    margin-top: 30px;
}

.button-1 {
    background-color: #e6457a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 18px;
    transition-duration: 0.4s;
}

.button-1:hover {
    background-color: #ff69b4;
}
